DRUPAL_ROOT=".."

MYSQL_HOST=""
MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_DB=""

PORTAL=""
PORTAL_HOST=""
PORTAL_USER=""
PORTAL_PASSWORD=""
PORTAL_DB=""

POSTGRESQL_HOST=""
POSTGRESQL_USER=""
POSTGRESQL_PASSWORD=""
POSTGRESQL_DB=""

GEOSERVER=""

