<div class="item">
    <h3>Luiz Antonio Ferreira dos Santos Filho</h3>
    <h4 class="area"><strong>Lista Vermelha</strong></h4>
    <img src="{{static_url}}/images/equipe/lista-vermelha/luiz.jpg"/>
    <p> Especialização em Meio Ambiente pela COPPE/UFRJ (2012), graduado em Ciências Biológicas (Bacharelado) pela Universidade Santa Úrsula - USU (2009). Possui experiência em Coleções Biológicas e Taxonomia Vegetal. No CNCFlora é coordenador substituto do projeto “Avaliação do risco de extinção da flora brasileira”, participando da análise de dados, avaliação de risco, redação de artigos científicos e de documentos técnicos ou de divulgação científica.</p>
    <p> Especialização em Meio Ambiente pela COPPE/UFRJ (2012), graduado em Ciências Biológicas (Bacharelado) pela Universidade Santa Úrsula - USU (2009). Possui experiência em Coleções Biológicas e Taxonomia Vegetal. No CNCFlora é coordenador substituto do projeto “Avaliação do risco de extinção da flora brasileira”, participando da análise de dados, avaliação de risco, redação de artigos científicos e de documentos técnicos ou de divulgação científica.</p>
</div>
<div class="item">
    <h3>Luiz Antonio Ferreira dos Santos Filho</h3>
    <h4 class="area"><strong>Lista Vermelha</strong></h4>
    <img src="{{static_url}}/images/equipe/lista-vermelha/luiz.jpg"/>
    <p> Especialização em Meio Ambiente pela COPPE/UFRJ (2012), graduado em Ciências Biológicas (Bacharelado) pela Universidade Santa Úrsula - USU (2009). Possui experiência em Coleções Biológicas e Taxonomia Vegetal. No CNCFlora é coordenador substituto do projeto “Avaliação do risco de extinção da flora brasileira”, participando da análise de dados, avaliação de risco, redação de artigos científicos e de documentos técnicos ou de divulgação científica.</p>
    <p> Especialização em Meio Ambiente pela COPPE/UFRJ (2012), graduado em Ciências Biológicas (Bacharelado) pela Universidade Santa Úrsula - USU (2009). Possui experiência em Coleções Biológicas e Taxonomia Vegetal. No CNCFlora é coordenador substituto do projeto “Avaliação do risco de extinção da flora brasileira”, participando da análise de dados, avaliação de risco, redação de artigos científicos e de documentos técnicos ou de divulgação científica.</p>
</div>
<div class="item">
    <h3>Luiz Antonio Ferreira dos Santos Filho</h3>
    <h4 class="area"><strong>Lista Vermelha</strong></h4>
    <img src="{{static_url}}/images/equipe/lista-vermelha/luiz.jpg"/>
    <p> Especialização em Meio Ambiente pela COPPE/UFRJ (2012), graduado em Ciências Biológicas (Bacharelado) pela Universidade Santa Úrsula - USU (2009). Possui experiência em Coleções Biológicas e Taxonomia Vegetal. No CNCFlora é coordenador substituto do projeto “Avaliação do risco de extinção da flora brasileira”, participando da análise de dados, avaliação de risco, redação de artigos científicos e de documentos técnicos ou de divulgação científica.</p>
    <p> Especialização em Meio Ambiente pela COPPE/UFRJ (2012), graduado em Ciências Biológicas (Bacharelado) pela Universidade Santa Úrsula - USU (2009). Possui experiência em Coleções Biológicas e Taxonomia Vegetal. No CNCFlora é coordenador substituto do projeto “Avaliação do risco de extinção da flora brasileira”, participando da análise de dados, avaliação de risco, redação de artigos científicos e de documentos técnicos ou de divulgação científica.</p>
</div>
<div class="item">
    <h3>Luiz Antonio Ferreira dos Santos Filho</h3>
    <h4 class="area"><strong>Lista Vermelha</strong></h4>
    <img src="{{static_url}}/images/equipe/lista-vermelha/luiz.jpg"/>
    <p> Especialização em Meio Ambiente pela COPPE/UFRJ (2012), graduado em Ciências Biológicas (Bacharelado) pela Universidade Santa Úrsula - USU (2009). Possui experiência em Coleções Biológicas e Taxonomia Vegetal. No CNCFlora é coordenador substituto do projeto “Avaliação do risco de extinção da flora brasileira”, participando da análise de dados, avaliação de risco, redação de artigos científicos e de documentos técnicos ou de divulgação científica.</p>
    <p> Especialização em Meio Ambiente pela COPPE/UFRJ (2012), graduado em Ciências Biológicas (Bacharelado) pela Universidade Santa Úrsula - USU (2009). Possui experiência em Coleções Biológicas e Taxonomia Vegetal. No CNCFlora é coordenador substituto do projeto “Avaliação do risco de extinção da flora brasileira”, participando da análise de dados, avaliação de risco, redação de artigos científicos e de documentos técnicos ou de divulgação científica.</p>
</div>
