<h3>Livros</h3>
<div class="box-section box-project ">
  <div class="project-img col-sm-4 col-md-4 col-lg-4" >
    <a href="">
      <img src="{{static_url}}/images/projetos/lista-vermelha/Livro Vermelho - Raras do Cerrado.jpg" />
    </a>
  </div>

  <div class="description col-sm-8 col-md-8 col-lg-8">
    <h4><a href="">LIVRO VERMELHO - PLANTAS RARAS DO CERRADO</a></h4>
    <p>
      Apesar da profusão dos conceitos de raridade e das diferentes definições, é consenso
      que espécies raras podem apresentar uma alta vulnerabilidade e, portanto, devem ser
      priorizadas em medidas de conservação. O Cerrado é atualmente considerado uma das
      áreas críticas para conservação e a perda de hábitat nesse bioma vem alcançando índices
      alarmantes. Frente aos desafios de conservar espécies ameaçadas em função da
      destruição paulatina dos seus hábitats, o objetivo do Livro Vermelho da flora do Brasil
      – Plantas raras do Cerrado foi avaliar o risco de extinção de espécies consideradas raras
      segundo o conceito de raridade de Giulietti et al. (2009) e com ocorrência e/ou
      endêmicas do Cerrado. Assim, a partir da avaliação do risco de extinção das plantas
      raras do Cerrado pretende-se subsidiar estratégias para o direcionamento de esforços
      conservacionistas voltados as espécies mais suscetíveis à extinção iminente.</p>
  </div>
</div>
<div class="box-section box-project ">
  <div class="project-img col-sm-4 col-md-4 col-lg-4" >
    <a href="">
      <img src="{{static_url}}/images/livrovermelho.png" />
    </a>
  </div>

  <div class="description col-sm-8 col-md-8 col-lg-8">
    <h4><a href="">LIVRO VERMELHO DA FLORA DO BRASIL</a></h4>
    <p>
      O CNCFlora lançou o primeiro "Livro Vermelho da Flora do Brasil". A publicação científica reúne avaliações sobre o risco de extinção de espécies de plantas no país e representa uma contribuição da comunidade científica para a atualização da “Lista Oficial de Espécies da Flora Brasileira Ameaçadas de Extinção”, que está a cargo do Ministério do Meio Ambiente.</p>
  </div>
</div>
