<h3>Livros</h3>
<div class="box-section box-project ">
  <div class="project-img col-sm-4 col-md-4 col-lg-4" >
    <a href="http://cncflora.jbrj.gov.br/LivroVermelhoPlantasRarasDoCerrado.pdf" >
      <img src="{{static_url}}/images/livro_vermelho_2014.jpg" />
    </a>
  </div>

  <div class="description col-sm-8 col-md-8 col-lg-8">
    <h4><a href="http://cncflora.jbrj.gov.br/LivroVermelhoPlantasRarasCerrado.pdf" >LIVRO VERMELHO - PLANTAS RARAS DO CERRADO</a></h4>
    <p>
      Apesar da profusão dos conceitos de raridade e das diferentes definições, é consenso
      que espécies raras podem apresentar uma alta vulnerabilidade e, portanto, devem ser
      priorizadas em medidas de conservação. O Cerrado é atualmente considerado uma das
      áreas críticas para conservação e a perda de hábitat nesse bioma vem alcançando índices
      alarmantes. Frente aos desafios de conservar espécies ameaçadas em função da
      destruição paulatina dos seus hábitats, o objetivo do Livro Vermelho da flora do Brasil
      – Plantas raras do Cerrado foi avaliar o risco de extinção de espécies consideradas raras
      segundo o conceito de raridade de Giulietti et al. (2009) e com ocorrência e/ou
      endêmicas do Cerrado. Assim, a partir da avaliação do risco de extinção das plantas
      raras do Cerrado pretende-se subsidiar estratégias para o direcionamento de esforços
      conservacionistas voltados as espécies mais suscetíveis à extinção iminente.</p>
  </div>
</div>

<div class="box-section box-project ">
  <div class="project-img col-sm-4 col-md-4 col-lg-4" >
    <a href="http://cncflora.jbrj.gov.br/Livro_áreas_prioritárias2014.pdf">
      <img src="{{static_url}}/images/projetos/areas/capa_livro_areas_prioritarias.png" />
    </a>
  </div>

  <div class="description col-sm-8 col-md-8 col-lg-8">
    <h4><a href="http://cncflora.jbrj.gov.br/Livro_áreas_prioritárias2014.pdf">Áreas prioritárias para conservação e uso sustentável da flora Brasileira ameaçada de extinção</a></h4>
    <p>
      O principal produto do projeto até o momento é o livro Áreas prioritárias para conservação
      e uso sustentável da flora brasileira ameaçada de extinção. Esse documento apresenta os
      mapas das áreas prioritárias para conservação e uso sustentável da flora brasileira ameaçada de
      extinção para cada bioma e para todo o território nacional. A publicação tem caráter oficial e irá
      direcionar políticas públicas para a conservação de 2.107 espécies ameaçadas, em nível federal e
      estadual, munindo tomadores de decisão com informações técnicas de alta qualidade e precisão.
      É a primeira vez que o Brasil tem um mapa de áreas prioritárias para a conservação de plantas,
      portanto, as oportunidades são enormes.
    </p>
  </div>
</div>
<div class="box-section box-project ">
  <div class="project-img col-sm-4 col-md-4 col-lg-4" >
    <a href="{{static_url}}/pdf/planejamento/produto/PAN_Faveiro-de-Wilson.pdf">
      <img src="{{static_url}}/images/projetos/planejamento/faveiro-de-wilson.jpg" />
    </a>
  </div>

  <div class="description col-sm-8 col-md-8 col-lg-8">
    <h4><a href="{{static_url}}/pdf/planejamento/produto/PAN_Faveiro-de-Wilson.pdf">PAN Faveiro de Wilson</a></h4>
    <p>
      O Plano de Ação Nacional do faveiro-de-wilson (Dimorphandra wilsonii Rizzini), espécie Criticamente em perigo (CR) e endêmica de Minas Gerais, contém a melhor informação disponível sobre a espécie, além do planejamento com as ações necessárias para sua conservação.
    </p>
  </div>
</div>
<div class="box-section box-project ">
  <div class="project-img col-sm-4 col-md-4 col-lg-4" >
    <a href="http://cncflora.jbrj.gov.br/LivroVermelho.pdf">
      <img src="{{static_url}}/images/livrovermelho.png" />
    </a>
  </div>

  <div class="description col-sm-8 col-md-8 col-lg-8">
    <h4><a href="http://cncflora.jbrj.gov.br/LivroVermelho.pdf">LIVRO VERMELHO DA FLORA DO BRASIL</a></h4>
    <p>
      O CNCFlora lançou o primeiro "Livro Vermelho da Flora do Brasil". A publicação científica reúne avaliações sobre o risco de extinção de espécies de plantas no país e representa uma contribuição da comunidade científica para a atualização da “Lista Oficial de Espécies da Flora Brasileira Ameaçadas de Extinção”, que está a cargo do Ministério do Meio Ambiente.</p>
    </div>
  </div>

