<h3>Livros</h3>
<div class="box-section box-project ">
  <div class="project-img col-sm-4 col-md-4 col-lg-4" >
    <a href="{{base_url}}/pt-br/projetos/lista-vermelha">
      <img src="{{static_url}}/images/projetos/lista-vermelha/Livro Vermelho - Raras do Cerrado.jpg" />
    </a>
  </div>

  <div class="description col-sm-8 col-md-8 col-lg-8">
    <h4><a href="{{base_url}}/pt-br/projetos/lista-vermelha">LIVRO VERMELHO - PLANTAS RARAS DO CERRADO</a></h4>
    <p>
      Após o lançamento do primeiro "Livro Vermelho da Flora do Brasil" em 2013, CNCFlora lançou o "Livro Vermelho - Plantas Raras do Cerrado. A publicação científica reúne avaliações sobre o risco de extinção de espécies de plantas consideradas raras na obra Plantas Raras do Brasil (Giulietti et al., 2009) e de ocorrência no domínio fitogeográfico Cerrado. O Cerrado é um dos hot spot mundial de biodiversidade, apresentando alto grau de endemismo e, por outro lado, alto grau de ameaças. Esta obra representa mais uma contribuição da comunidade científica, com a avaliação de 578 espécies para a atualização da “Lista Oficial de Espécies da Flora Brasileira Ameaçadas de Extinção” do Ministério do Meio Ambiente.
    </p>
  </div>
</div>
<div class="box-section box-project ">
  <div class="project-img col-sm-4 col-md-4 col-lg-4" >
    <a href="{{base_url}}/pt-br/projetos/plano-de-acao">
      <img src="{{static_url}}/images/livrovermelho.png" />
    </a>
  </div>

  <div class="description col-sm-8 col-md-8 col-lg-8">
    <h4><a href="{{base_url}}/pt-br/projetos/plano-de-acao">LIVRO VERMELHO DA FLORA DO BRASIL</a></h4>
    <p>
      O CNCFlora lançou o primeiro "Livro Vermelho da Flora do Brasil". A publicação científica reúne avaliações sobre o risco de extinção de espécies de plantas no país e representa uma contribuição da comunidade científica para a atualização da “Lista Oficial de Espécies da Flora Brasileira Ameaçadas de Extinção”, que está a cargo do Ministério do Meio Ambiente. Para identificar quais as plantas em risco de extinção no país e em quais regiões estão localizadas, foram avaliadas cientificamente 4.617 espécies da flora brasileira já incluídas em listas oficiais de espécies ameaçada.
    </p>
  </div>
</div>
