.sidebar{
	font-size:16px;
}

.sidebar .sidebar-menu ul li{
		height: 25px;

}
.sidebar .sidebar-menu ul li a{
		color: #333;
		font-weight: bold;
		opacity: 0.8;
		text-transform: uppercase;

}
.sidebar .sidebar-menu ul li a:hover{
		color: #20AE54;;
		opacity: 0.8;

}

/*******
	redlist page
*******/

.family h3{
		padding-left: 210px;

}
.family p{
		margin: 0px;
		padding: 0px;
		font-size: 15px;
		text-decoration: underline;
		line-height: 1.8;
}



/*******
	documents page
*******/
.document-page h3{
		text-align: center;
}
.document-page .doc{
	padding-left: 50px;
}
