{{> header}}

<div class="sixteen columns intro">
    <img src="/resources/img/quemsomos.jpg" alt="Quem Somos - CNCFlora" />
</div>

<div class="five columns menu">
    <ul>
        <li><a href="/pt-br/quem-somos" class='quem-somos'>Sobre o CNCFlora</a></li>
        <li><a href="/pt-br/equipe/coordenacao" class='equipe-link'>Equipe</a></li>
        <li><a href="/pt-br/contato" class='contato-link'>Contato</a></li>
    </ul>
</div>

<div class="ten columns content">
    <form action="" method="POST">
        <fieldset>
            <legend></legend>
            <p>
                <label for="name">Seu nome:</label>
                <input id="name" name="name" type="text" />
            </p>
            <p>
                <label for="email">Seu e-mail:</label>
                <input id="email" name="email" type="text" />
            </p>
            <p>
                <label for="subject">Assunto:</label>
                <input id="subject" name="subject" type="text" />
            </p>
            <p>
                <label for="message">Mensage:</label>
                <textarea id="message" name="message" rows="10" cols="30"></textarea>
            </p>
            <p>
                <button>Enviar mensagem</button>
            </p>
        </fieldset>
    </form>
</div>

{{> footer}}
