{{> header}}

<div class="sixteen columns intro">
    <img src="/resources/img/quemsomos.jpg" alt="Quem Somos - CNCFlora" />
</div>

<div class="five columns menu">
    <ul>
        <li><a href="/pt-br/quem-somos" class='quem-somos'>Sobre o CNCFlora</a></li>
        <li><a href="/pt-br/equipe/coordenacao" class='equipe-link'>Equipe</a></li>
        <li><a href="/pt-br/contato" class='contato-link'>Contato</a></li>
    </ul>
</div>

<div class="ten columns content">
    <p>Obrigado por entrar em contato, em breve analisaremos sua mensagem e a responderemos apropriadamente.</p>
</div>

{{> footer}}
