
        </div>
        <footer>
            <div class="eight columns logos">
                <p>
                    <a alt="PROBIO" href="http://www.mma.gov.br/biodiversidade/projetos-sobre-a-biodiveridade/projeto-nacional-de-a%C3%A7%C3%B5es-integradas-p%C3%BAblico-privadas-para-biodiversidade-probio-ii" title="PROBIO"><img alt="PROBIO" id="probio" src="sites/default/files/PROBIO.jpg" title="PROBIO" /></a>
                    <a alt="Ministério do Meio Ambiente" href="http://www.mma.gov.br/" title="Ministerio do Meio Ambiente"><img alt="Ministério do Meio Ambiente" id="mma" src="sites/default/files/MMA.png" title="Ministerio do Meio Ambiente" /></a>
                    <a alt="International Union for Conservation of Nature" href="http://www.iucn.org/" title="International Union for Conservation of Nature"><img alt="International Union for Conservation of Nature" id="iucn" src="sites/default/files/IUCN.gif" title="International Union for Conservation of Nature" /></a>
                </p>
            </div>
            <div class="seven offset-by-one columns info">
                <p>
                    Instituto de Pesquisas Jardim Botânico do Rio de Janeiro<br />
                    Rua Pacheco Leão, 915 - Dipeq, sala 105<br />
                    Jardim Botânico - Rio de Janeiro - RJ<br />
                    CEP: 22.460-030<br />
                    Tel: (21)3204-2138<br />
                </p>
            </div>
        </footer>
    </div>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-13203805-2']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
