<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Centro Nacional de Conservação da Flora - CNCFlora</title>
	<meta name="description" content="">
	<meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/resources/css/base.css">
	<link rel="stylesheet" href="/resources/css/skeleton.css">
	<link rel="stylesheet" href="/resources/css/layout.css">
    <link rel="stylesheet" href="/resources/css/cncflora.css" />
    <!--
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Questrial' />
    -->
	<link rel="shortcut icon" href="/resources/img/favicon.ico">
    <script src="/resources/js/head.min.js" type="text/javascript"></script>
    <script src="/resources/js/cncflora.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
    <div class="container">
        <header class="sixteen columns">
            {{#logged}}
                <p id='up'>
                    <a href="/sistema">plataforma</a>
                    <a href="http://cncflora.jbrj.gov.br/apps/profiles">ferramentas</a>
                    <a href="/../user/logout">sair</a>
                </p>
            {{/logged}}
            {{^logged}}
                <p id='up'>
                    <!--<a href="/login">login</a>-->
                    <a href="http://cncflora.jbrj.gov.br/apps/profiles">ferramentas</a>
                </p>
            {{/logged}}
            <div id="greeting">
                <h1>Bem-vindo ao Portal CNCFlora</h1>
                <h2>Plataforma de acesso e gest&atilde;o de dados.</h2>
            </div>
            <a href='/'><h1>CNCFlora</h1></a>
            <h2>JBRJ</h2>
            <div id="floral"></div>
        </header>
        <nav class="sixteen columns">
            <ul>
                <li><a href="/pt-br/quem-somos" class='quem-somos-link'>Quem somos</a></li>
                <li><a href="/pt-br/redlisting" class='red lista-vermelha-link'>Lista vermelha</a></li>
                <li><a href="/pt-br/conservacao/acoes" class='conservacao-link'>Conserva&ccedil;&atilde;o da flora</a></li>
                <li><a href="/pt-br/expedicoes/intro" class='expedicoes-link'>Expedi&ccedil;&otilde;es</a></li>
                <li><a href="/pt-br/publicacoes/publicacao" class='publicacoes-link'>Documentos</a></li>
                <li><a href="/pt-br/legislacao" class='legislacao-link'>Legisla&ccedil;&atilde;o</a></li>
                <li><a href="/pt-br/noticias" class='noticias-link'>Noticias</a></li>
            </ul>
        </nav>
        <div id="content">
	
