{{> header}}

<div class="eleven columns">
    <form action="/register" method="POST">
        <fieldset>
            <legend>Register here</legend>
            <input id="register_login" name="register_login" type="text" placeholder="login"/><br />
            <input id="register_email" name="register_email" type="text" placeholder="email"/><br />
            <input id="register_password" name="register_password" type="password" placeholder="password"/>
            <button type="submit">Join</button>
        </fieldset>
    </form>
</div>

{{> sidebar}}

{{> footer}}
