{% extends "layout.html" %}
{% block content %}
<div class="sixteen columns intro">
    <img src="/static/img/conservacao2.jpg" alt="Ações de conservação - CNCFlora" />
</div>

<div class="five columns menu">
    <ul>
        <li><a href="/{{language}}/conservacao/acoes" class='link-acoes'>{{menu['acoes']}}</a></li>
        <li><a href="/{{language}}/conservacao/redlist" class='link-redlist'>{{menu['redlist']}}</a></li>
        <li><a href="/{{language}}/conservacao/lista" class='link-lista'>{{menu['lista']}}</a></li>
        <li><a href="/{{language}}/conservacao/ameacas" class='link-ameacas'>{{menu['ameacas']}}</a></li>
        <li><a href="/{{language}}/conservacao/areas" class='link-areas'>{{menu['areas']}}</a></li>
        <li><a href="/{{language}}/conservacao/biodiversidade" class='link-biodiversidade'>{{menu['biodiversidade']}}</a></li>
        <li><a href="/{{language}}/conservacao/politicas" class='link-politicas'>{{menu['politicas']}}</a></li>
    </ul>
</div>

<div class="ten columns content">
      {% include "content/"+language+"/conservacao/"+area+".html" %}
</div>

{% endblock %}
