{{> header}}

<div class="sixteen columns intro">
    <img src="/resources/img/conservacao2.jpg" alt="Ações de conservação - CNCFlora" />
</div>

<div class="five columns menu">
    <ul>
        <li><a href="/pt-br/conservacao/acoes" class='link-acoes'>A&ccedil;&otilde;es de conserva&ccedil;&atilde;o</a></li>
        <li><a href="/pt-br/conservacao/redlist" class='link-redlist'>Lista vermelha</a></li>
        <li><a href="/pt-br/conservacao/lista" class='link-lista'>Lista de esp&eacute;cies da flora do Brasil</a></li>
        <li><a href="/pt-br/conservacao/ameacas" class='link-ameacas'>Fatores de amea&ccedil;as</a></li>
        <li><a href="/pt-br/conservacao/areas" class='link-areas'>&Aacute;reas protegidas</a></li>
        <li><a href="/pt-br/conservacao/biodiversidade" class='link-biodiversidade'>Biodiversidade</a></li>
        <li><a href="/pt-br/conservacao/politicas" class='link-politicas'>Biodiversidade e politicas p&uacute;blicas</a></li>
    </ul>
</div>

<div class="ten columns content">
    {{{content}}} 
</div>

{{> footer}}


