{% extends "layout.html" %}
{% block content %}
<div class="sixteen columns intro">
    {% include "content/"+language+"/documentacao/text.html" %}
</div>

<div class="five columns menu">
    <ul>
        <li><a href="/{{language}}/publicacoes/publicacao" class='publicacao'>{{menu['publicacao']}}</a></li>
        <li><a href="/{{language}}/publicacoes/documentos" class='documentos'>{{menu['documentos']}}</a></li>
        <li><a href="/{{language}}/publicacoes/relatorios" class='relatorios'>{{menu['relatorios']}}</a></li>
    </ul>
</div>

<div class="ten columns content">
    {% include "content/"+language+"/documentacao/"+type+".html" %}
</div>

{% endblock %}
