{% extends "layout.html" %}
{% block content %}
<div class="sixteen columns intro">
    <img src="/static/img/quemsomos.jpg" alt="Quem Somos - CNCFlora" />
</div>

<div class="five columns menu">
    <ul>
        <li><a href="/{{language}}/quem-somos" class='quem-somos'>{{menu['whoweare']}}</a></li>
        <li><a href="/{{language}}/equipe/coordenacao" class='equipe-link'>{{menu['equipe']}}</a></li>
        <li><a href="/{{language}}/contato" class='contato-link'>{{menu['contact']}}</a></li>
        <li class="submenu">
            <ul>
                <li><a href="/{{language}}/equipe/coordenacao" class='coordenacao'>{{submenu['coordenacao']}}</a></li>
                <li><a href="/{{language}}/equipe/analise" class='analise'>{{submenu['analise']}}</a></li>
                <li><a href="/{{language}}/equipe/planos" class='planos'>{{submenu['planos']}}</a></li>
                <li><a href="/{{language}}/equipe/exsitu" class='exsitu'>{{submenu['exsitu']}}</a></li>
                <li><a href="/{{language}}/equipe/sistemas" class='sistemas'>{{submenu['sistemas']}}</a></li>
                <li><a href="/{{language}}/equipe/colecoes" class='colecoes'>{{submenu['colecoes']}}</a></li>
                <li><a href="/{{language}}/equipe/comunicacao" class='comunicacao'>{{submenu['comunicacao']}}</a></li>
                <li><a href="/{{language}}/equipe/voluntario" class='voluntario'>{{submenu['voluntario']}}</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="ten columns content">
    <div class="membros">
        {% include "content/"+language+"/membros/"+members+".html" %}
    </div>
</div>
<script type="text/javascript">
        head.js('/static/js/equipe.js').ready(function(){equipe();});
</script>

{% endblock %}
