{% extends "layout.html" %}
{% block content %}
<div class="sixteen columns intro">
    <img src="/static/img/quemsomos.jpg" alt="Quem Somos - CNCFlora" />
</div>

<div class="five columns menu">
    <ul class="expedicoes-menu">
        <li><a href="/{{language}}/expedicoes/100" class="expedicao  cerrado mata-atlântica caatinga">{{menu['100']}}</a></li>
        <li><a href="/{{language}}/expedicoes/102" class="expedicao  cerrado pantanal">{{menu['102']}}</a></li>
        <li><a href="/{{language}}/expedicoes/130" class="expedicao  mata-atlântica">{{menu['130']}}</a></li>
        <li><a href="/{{language}}/expedicoes/98" class="expedicao  cerrado mata-atlântica caatinga">{{menu['98']}}</a></li>
        <li><a href="/{{language}}/expedicoes/101" class="expedicao  cerrado">{{menu['101']}}</a></li>
        <li><a href="/{{language}}/expedicoes/103" class="expedicao  cerrado mata-atlântica">{{menu['103']}}</a></li>
        <li><a href="/{{language}}/expedicoes/104" class="expedicao  amazônia">{{menu['104']}}</a></li>
        <li><a href="/{{language}}/expedicoes/99" class="expedicao  cerrado">{{menu['99']}}</a></li>
    </ul>
</div>

<div class="ten columns content">
    {% include "content/"+language+"/expedicoes/"+type+".html" %}
</div>

<script type="text/javascript">
    head.js('/static/js/jquery.colorbox.js')
        .ready(function(){
          $(".group1").colorbox({rel:'group1', width:"60%", height:"80%"});
          });
</script>
{% endblock %}
