{% extends "layout.html" %}
{% block content %}


<section class="wrapper style1 about">
  <div class="container">
    <!--
    <div class="slider1" class="col-sm-12 col-md-12 col-lg-12">
      {% for img in images %}
      <div class="slide">
        <a href="{{base_url}}/pt-br/profile/{{img['name']}}">
          <img src="{{img['img']}}"/>
          <div class="portfolio-overlay">
            <br/>
            <h3>{{img['name']}}</h3>
            <p></p>
          </div>
        </a>
      </div>
      {% endfor %}
     </div>
     -->
     <div class=" double">
      <section class="col-sm-12 col-md-12 col-lg-12">
        <div class="box highlight about">

          <h3><a href="">Apresentação</a></h3>
          <p>
            O Centro Nacional de Conservação da Flora (CNCFlora) é referência nacional em geração, coordenação e difusão de informação sobre biodiversidade e conservação da flora brasileira ameaçada de extinção.
          </p>
        </div>
      </section>


      <section class="box-charts">
        <div class="col-sm-3 col-md-3 col-lg-3 box">

          <h3 class="title-chart title-chart-one">Espécies da Flora</h3>
          <div class="box-chart chart-one">
              <strong>46097</strong>
              <div class="layer"></div>
          </div>
          <div class="chart-layer-one">
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 box">
          <h3 class="title-chart title-chart-two">Avaliadas</h3>
          <div class="box-chart chart-two">
              <strong>5195</strong>
              <div class="layer"></div>
          </div>
          <div class="chart-layer-two">
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 box">
          <h3 class="title-chart title-chart-three">Ameaçadas</h3>
          <div class="box-chart chart-three">
              <strong>2479</strong>
              <div class="layer"></div>
          </div>
          <div class="chart-layer-three">
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 box">
          <h3 class="title-chart title-chart-four">Planos de Ação</h3>
          <div class="box-chart chart-four">
              <strong>332</strong>
              <div class="layer"></div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>


<section class="wrapper style2 ">
    <div class="container">
      <h3 class="col-sm-12 col-md-12 col-lg-12 title "  >Destaques</h3>
    <div class="row">

      <section class="col-sm-12 col-md-6 col-lg-6">
        <div class="box post">
          <a href="http://cncflora.jbrj.gov.br/arquivos/arquivos/pdfs/LivroVermelhoPlantasRarasCerrado.pdf" class="image left box-img"><img src="{{static_url}}/images/livro_vermelho_2014.jpg" alt="" /></a>
          <div class="inner">
            <h3><a href="http://cncflora.jbrj.gov.br/arquivos/arquivos/pdfs/LivroVermelhoPlantasRarasCerrado.pdf">Livro Vermelho da Flora do Brasil - Plantas Raras do Cerrado</a></h3>
            <p>Apesar da profusão dos conceitos de raridade e das diferentes definições, é consenso
              que espécies raras podem apresentar uma alta vulnerabilidade e, portanto, devem ser
              priorizadas em medidas de conservação. O Cerrado é atualmente considerado uma das
              áreas críticas para conservação e a perda de hábitat nesse bioma vem alcançando índices
              alarmantes.</p>
          </div>
        </div>
      </section>
      <section class="col-sm-12 col-md-6 col-lg-6">
        <div class="box post">
          <a href="http://cncflora.jbrj.gov.br/arquivos/arquivos/pdfs/LivroVermelho.pdf" class="image left box-img"><img src="{{static_url}}/images/livrovermelho.png" alt="" /></a>
          <div class="inner">
            <h3><a href="http://cncflora.jbrj.gov.br/arquivos/arquivos/pdfs/LivroVermelho.pdf">Livro Vermelho da Flora do Brasil</a></h3>
    <p>
      O CNCFlora lançou o primeiro "Livro Vermelho da Flora do Brasil". A publicação científica reúne avaliações sobre o risco de extinção de espécies de plantas no país e representa uma contribuição da comunidade científica para a atualização da “Lista Oficial de Espécies da Flora Brasileira Ameaçadas de Extinção”, que está a cargo do Ministério do Meio Ambiente.</p>
            <br /><br />
            <br /><br />
            </p>
          </div>
        </div>
      </section>
      <section class="col-sm-12 col-md-6 col-lg-6">
        <div class="box post">
          <a href="http://cncflora.jbrj.gov.br/arquivos/arquivos/pdfs/Livro_%C3%A1reas_priorit%C3%A1rias2014.pdf" class="image left box-img"><img src="{{static_url}}/images/projetos/areas/capa_livro_areas_prioritarias.png" alt="" /></a>
          <div class="inner">
            <h3>
              <a href="http://cncflora.jbrj.gov.br/arquivos/arquivos/pdfs/Livro_%C3%A1reas_priorit%C3%A1rias2014.pdf">
                Áreas prioritárias para conservação e uso sustentável da flora brasileira ameçada de extinção

              </a>
            </h3>
            <p>O livro “Áreas Prioritárias para Conservação e Uso Sustentável da Flora Brasileira Ameaçada de Extinção” é um importante instrumento para elaboração de políticas públicas, pois indica as localidades no território nacional onde ações para reduzir o risco de extinção de espécies da flora brasileira podem ser mais efetivas, visando alcançar a Meta 11 do Plano Estratégico para a Conservação da Biodiversidade de Aichi (CDB) até 2020.</p>
          </div>
        </div>
      </section>
      <section class="col-sm-12 col-md-6 col-lg-6">
        <div class="box post">
          <a href="http://cncflora.jbrj.gov.br/arquivos/arquivos/pdfs/PAN_Faveiro-de-Wilson.pdf" class="image left box-img"><img src="{{static_url}}/images/projetos/planejamento/faveiro-de-wilson.jpg" alt="" /></a>
          <div class="inner">
            <h3>
              <a href="http://cncflora.jbrj.gov.br/arquivos/arquivos/pdfs/PAN_Faveiro-de-Wilson.pdf">PAN Faveiro de Wilson </a>
            </h3>
            <p>
            O Plano de Ação Nacional do faveiro-de-wilson (Dimorphandra wilsonii Rizzini), espécie Criticamente em perigo (CR) e endêmica de Minas Gerais, contém a melhor informação disponível sobre a espécie, além do planejamento com as ações necessárias para sua conservação.
            </p>
          </div>
        </div>
      </section>
    </div>

    </div>
</section>


<section class="wrapper style1 news" id='fb_news'>
  <div class="container">
    <h3 class="col-sm-12 col-md-12 col-lg-12 title">Notícias</h3>
    <div class="row" id='fb_news_row'>
      <h3>Carregando...</h3>
    </div>
  </div>
  <template id="noticia_tmpl">
  <section class="col-sm-12 col-md-4 col-lg-4">
    <div class="box post">
      <div class="box-fb-img">
        <a href="#" class="image "><img src="" alt="" /></a>
      </div>
      <div class="inner news-description">
        <h3></h3>
        <p></p>
      </div>
    </div>
  </section>
  </template>
</section>

<script type="text/javascript">
  $(function(){
      FB.api("/cncflora/posts?access_token="+app_token,function(response) {
        document.querySelector("#fb_news_row").innerHTML="";
        var count=0;
        for(var i=0;i<response.data.length && count < 3;i++) {
          var post = response.data[i];
          if(typeof post == 'object' 
            && (post.type=='photo' || post.type == 'video')
            && typeof post.message == 'string' 
            && post.message.length >= 5) {
            var section = render('#noticia_tmpl');
            section.querySelector("img").src = post.picture;
            section.querySelector("h3").textContent = "";
            section.querySelector("a").href = post.link;
            section.querySelector("p").textContent = post.message.slice(0,150)+"...";
            section.querySelector("section").setAttribute("id","fb_"+post.object_id);
            section.into('#fb_news_row');
            (function(post){
             FB.api("/"+post.object_id+"?access_token="+app_token,function(response){
               var src = response.source;
               if(post.type=='video') src = response.picture;
               document.querySelector("#fb_"+response.id+" img").src = src;
               });
             })(post);
            count++;
          }
        }
      });
  });
</script>

{% endblock %}
