{% extends "layout.html" %}
{% block content %}


<section class="wrapper style1 about">
  <div class="container">
    <div class="slider1" class="col-sm-12 col-md-12 col-lg-12">
      {% for img in images %}
      <div class="slide">
        <a href="{{base_url}}/pt-br/profile/{{img['name']}}">
          <img src="{{img['img']}}"/>
          <div class="portfolio-overlay">
            <br/>
            <h3>{{img['name']}}</h3>
            <p></p>
          </div>
        </a>
      </div>
      {% endfor %}
     </div>
     <div class=" double">
      <section class="col-sm-12 col-md-12 col-lg-12">
        <div class="box highlight about">

          <h3><a href="">Apresentação</a></h3>
          <p>
            O Centro Nacional de Conservação da Flora (CNCFlora) é referência nacional em geração, coordenação e difusão de informação sobre biodiversidade e conservação da flora brasileira ameaçada de extinção.
          </p>
        </div>
      </section>


      <section class="box-charts">
        <div class="col-sm-3 col-md-3 col-lg-3 box">

          <h3 class="title-chart title-chart-one">Espécies da Flora</h3>
          <div class="box-chart chart-one">
              <strong>60000</strong>
              <div class="layer"></div>
          </div>
          <div class="chart-layer-one">
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 box">
          <h3 class="title-chart title-chart-two">Avaliadas</h3>
          <div class="box-chart chart-two">
              <strong>5554</strong>
              <div class="layer"></div>
          </div>
          <div class="chart-layer-two">
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 box">
          <h3 class="title-chart title-chart-three">Ameaçadas</h3>
          <div class="box-chart chart-three">
              <strong>554</strong>
              <div class="layer"></div>
          </div>
          <div class="chart-layer-three">
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 box">
          <h3 class="title-chart title-chart-four">Planos de Ação</h3>
          <div class="box-chart chart-four">
              <strong>104</strong>
              <div class="layer"></div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>


<section class="wrapper style2 ">
    <div class="container">
      <h3 class="col-sm-12 col-md-12 col-lg-12 title "  >Destaques</h3>
    <div class="row">

      <section class="col-sm-12 col-md-6 col-lg-6">
        <div class="box post">
          <a href="{{base_url}}/pt-br/livros" class="image left box-img"><img src="{{static_url}}/images/projetos/lista-vermelha/Livro Vermelho - Raras do Cerrado.jpg" alt="" /></a>
          <div class="inner">
            <h3><a href="{{base_url}}/pt-br/livros">Livro Vermelho - Plantas Raras do Cerrado</a></h3>
            <p>Após o lançamento do primeiro "Livro Vermelho da Flora do Brasil" em 2013, CNCFlora lançou o "Livro Vermelho - Plantas Raras do Cerrado. A publicação científica reúne avaliações sobre o risco de extinção de espécies de plantas consideradas raras na obra Plantas Raras do Brasil (Giulietti et al., 2009) e de ocorrência no domínio fitogeográfico Cerrado.</p>
          </div>
        </div>
      </section>
      <section class="col-sm-12 col-md-6 col-lg-6">
        <div class="box post">
          <a href="{{base_url}}/pt-br/livros" class="image left box-img"><img src="{{static_url}}/images/livrovermelho.png" alt="" /></a>
          <div class="inner">
            <h3><a href="{{base_url}}/pt-br/livros">Livro Vermelho da Flora do Brasil</a></h3>
            <p>O CNCFlora lançou o primeiro "Livro Vermelho da Flora do Brasil". A publicação científica reúne avaliações sobre o risco de extinção de espécies de plantas no país e representa uma contribuição da comunidade científica para a atualização da “Lista Oficial de Espécies da Flora Brasileira Ameaçadas de Extinção”, que está a cargo do Ministério do Meio Ambiente.</p>
          </div>
        </div>
      </section>
      <section class="col-sm-12 col-md-6 col-lg-6">
        <div class="box post">
          <a href="#" class="image left box-img"><img src="{{static_url}}/images/img10.jpg" alt="" /></a>
          <div class="inner">
            <h3>The Third Thing</h3>
            <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
          </div>
        </div>
      </section>
      <section class="col-sm-12 col-md-6 col-lg-6">
        <div class="box post">
          <a href="#" class="image left box-img"><img src="{{static_url}}/images/img5.jpg" alt="" /></a>
          <div class="inner">
            <h3>The Fourth Thing</h3>
            <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
          </div>
        </div>
      </section>
    </div>

    </div>
</section>


<section class="wrapper style1 news" id='fb_news'>
  <div class="container">
    <h3 class="col-sm-12 col-md-12 col-lg-12 title">Notícias</h3>
    <div class="row" id='fb_news_row'>
      <h3>Carregando...</h3>
    </div>
  </div>
  <template id="noticia_tmpl">
  <section class="col-sm-4 col-md-4 col-lg-4">
    <div class="box post">
      <div class="box-fb-img">
        <a href="#" class="image "><img src="" alt="" /></a>
      </div>
      <div class="inner">
        <h3></h3>
        <p></p>
      </div>
    </div>
  </section>
  </template>
</section>

<script type="text/javascript">
  $(function(){
      FB.api("/cncflora/posts?access_token="+app_token,function(response) {
        document.querySelector("#fb_news_row").innerHTML="";
        var count=0;
        for(var i=0;i<response.data.length && count < 3;i++) {
          var post = response.data[i];
          if(typeof post == 'object' && post.type=='photo' && typeof post.message == 'string' && post.message.length >= 5) {
            var section = render('#noticia_tmpl');
            section.querySelector("img").src = post.picture;
            section.querySelector("h3").textContent = "";
            section.querySelector("a").href = post.link;
            section.querySelector("p").textContent = post.message.slice(0,150)+"...";
            section.querySelector("section").setAttribute("id","fb_"+post.object_id);
            section.into('#fb_news_row');
            FB.api("/"+post.object_id+"?access_token="+app_token,function(response){
              document.querySelector("#fb_"+response.id+" img").src = response.source;
            });
            count++;
          }
        }
      });
  });
</script>

{% endblock %}
