{% extends "layout.html" %}
{% block content %}


<section class="wrapper style1 about">
  <div class="container">
    <!--
    <div class="slider1" class="col-sm-12 col-md-12 col-lg-12">
      {% for img in images %}
      <div class="slide">
        <a href="{{base_url}}/pt-br/profile/{{img['name']}}">
          <img src="{{img['img']}}"/>
          <div class="portfolio-overlay">
            <br/>
            <h3>{{img['name']}}</h3>
            <p></p>
          </div>
        </a>
      </div>
      {% endfor %}
     </div>
     -->
     <div class=" double">
      <section class="col-sm-12 col-md-12 col-lg-12">
        <div class="box highlight about">

          <h3><a href="">Apresentação</a></h3>
          <p>
            O Centro Nacional de Conservação da Flora (CNCFlora) é referência nacional em geração, coordenação e difusão de informação sobre biodiversidade e conservação da flora brasileira ameaçada de extinção.
          </p>
        </div>
      </section>


      <section class="box-charts">
        <div class="col-sm-3 col-md-3 col-lg-3 box">

          <h3 class="title-chart title-chart-one">Espécies da Flora</h3>
          <div class="box-chart chart-one">
              <strong>46223</strong>
              <div class="layer"></div>
          </div>
          <div class="chart-layer-one">
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 box">
          <h3 class="title-chart title-chart-two">Avaliadas</h3>
          <div class="box-chart chart-two">
              <strong>6046</strong>
              <div class="layer"></div>
          </div>
          <div class="chart-layer-two">
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 box">
          <h3 class="title-chart title-chart-three">Ameaçadas*</h3>
          <div class="box-chart chart-three">
              <strong>2953</strong>
              <div class="layer"></div>
          </div>
          <div class="chart-layer-three">
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 box">
          <h3 class="title-chart title-chart-four">Planos de Ação</h3>
          <div class="box-chart chart-four">
              <strong>332</strong>
              <div class="layer"></div>
          </div>
        </div>
      </section>

      <section class="col-sm-12 col-md-12 col-lg-12">
        <div>

          <h6><a href=""> </a></h6>
          <p align="justify" style="font-size:15px">
            <b>*</b>O número aqui apresentado é resultado do processo contínuo de avaliação de risco de extinção da Flora feito pelo CNCFlora em parceria com uma rede de especialistas. Porém, considerando a "Lista Nacional Oficial de Espécies da Flora Ameaçadas de Extinção" <a href="http://cncflora.jbrj.gov.br/portal/static/pdf/portaria_mma_443_2014.pdf">(Portaria 443/2014)</a> temos 2.113 espécies ameaçadas no país.</p>
        </div>
      </section>

  </div>
</section>


<section class="wrapper style2 ">
    <div class="container">
      <h3 class="col-sm-12 col-md-12 col-lg-12 title "  >Destaques</h3>
    <div class="row">

      <section class="col-sm-12 col-md-12 col-lg-12">
        <div class="box post">
            <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/94" id="areas-prioritarias" style="text-decoration: none;" class="image left box-img">
                <img src="{{static_url}}/images/projetos/planejamento/areas_prioritarias.png"/>
            </a>
            <div class="inner">
                <h3>
                    <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/94" id="areas-prioritarias" style="text-decoration: none;">
                      Áreas Prioritárias para Conservação da Flora Endêmica do estado do Rio de Janeiro
                    </a>
                </h3>
            </div>
        </div>
      </section>

      <section class="col-sm-12 col-md-12 col-lg-12">
        <div class="box post">
            <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/95" id="procura-se" style="text-decoration: none;" class="image left box-img">
                <img src="{{static_url}}/images/projetos/planejamento/procura-se.png"/>
            </a>
            <div class="inner">
                <h3>
                    <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/95" id="procura-se2" style="text-decoration: none;">
                      Guia Procura-se: Flora Endêmica do estado do Rio de Janeiro
                    </a>
                </h3>
            </div>
        </div>
      </section>

      <section class="col-sm-12 col-md-12 col-lg-12">
        <div class="box post">
            <a href="https://ckan.jbrj.gov.br/dataset/ucsestaduaisrj" id="uc-estaduais" style="text-decoration: none;" class="image left box-img">
                <img src="{{static_url}}/images/projetos/planejamento/unidades-conservacao.png"/>
            </a>
            <div class="inner">
                <h3>
                    <a href="https://ckan.jbrj.gov.br/dataset/ucsestaduaisrj" id="uc-estaduais2" style="text-decoration: none;">
                      Lista da Flora das Unidades de Conservação estaduais do Rio de Janeiro
                    </a>
                </h3>
            </div>
        </div>
      </section>

      <section class="col-sm-12 col-md-12 col-lg-12">
        <div class="box post">
            <a href="ttp://dspace.jbrj.gov.br/jspui/handle/doc/92" id="livro-vermelho-endemico" style="text-decoration: none;" class="image left box-img">
                <img src="{{static_url}}/images/projetos/planejamento/livro-vermelho-endemico.png"/>
            </a>
            <div class="inner">
                <h3>
                    <a href="ttp://dspace.jbrj.gov.br/jspui/handle/doc/92" id="livro-vermelho-endemico2" style="text-decoration: none;">
                      Livro Vermelho da Flora Endêmica do estado do Rio de Janeiro
                    </a>
                </h3>
            </div>
        </div>
      </section>

      <section class="col-sm-12 col-md-12 col-lg-12">
        <div class="box post">
            <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/93" id="pan-endemico-rj" style="text-decoration: none;" class="image left box-img">
                <img src="{{static_url}}/images/projetos/planejamento/plano-acao-conservacao-endemica-rj.png"/>
            </a>
            <div class="inner">
                <h3>
                    <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/93" id="pan-endemico-rj2" style="text-decoration: none;">
                      Plano de Ação Nacional para a Conservação da Flora Endêmica Ameçada de Extinção do estado do Rio de Janeiro
                    </a>
                </h3>
            </div>
        </div>
      </section>

      <section class="col-sm-12 col-md-12 col-lg-12">
        <div class="box post">
            <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/66" id="conservacao" style="text-decoration: none;" class="image left box-img">
                <img src="{{static_url}}/images/projetos/planejamento/capa_estrategia_nacional.png"/>
            </a>
            <div class="inner">
                <h3>
                    <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/66" id="conservacao2" style="text-decoration: none;">
                        Estratégia Nacional para Conservação Ex Situ de Espécies Ameaçadas da Flora Brasileira
                    </a>
                </h3>
            </div>
        </div>
      </section>

      <section class="col-sm-12 col-md-12 col-lg-12">
        <div class="box post">
            <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/42" id="espinhaco" style="text-decoration: none;" class="image left box-img">
                <img src="{{static_url}}/images/projetos/planejamento/PAN-Espinhaco-Meridional.jpg"/>
            </a>
            <div class="inner">
                <h3>
                    <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/42" id="espinhaco2" style="text-decoration: none;">
                        Plano de Ação Nacional para a conservação da flora ameaçada de extinção da Serra do Espinhaço Meridional
                    </a>
                </h3>
                <p align="justify">O <i>Plano de Ação Nacional para a conservação da flora
                    ameaçada de extinção da Serra do Espinhaço Meridional </i>
                    contém uma série de ações elaboradas para mitigar as
                    ameaças que incidem neste território do estado de Minas
                    Gerais. Na Serra do Espinhaço Meridional ocorrem 256
                    espécies da flora ameaçada. Nesta publicação há informações
                    sobre aspectos ambientais, socioeconômicos e
                    histórico-culturais desse território alvo, bem como
                    informações complementares sobre cada espécie Criticamente
                    em perigo e com Dados insuficientes, disponíveis no
                    <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/42">Anexo</a>.
                </p>
            </div>
        </div>
      </section>
      <section class="col-sm-12 col-md-12 col-lg-12">
        <div class="box post">
            <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/41" id="graomogol" style="text-decoration: none;" class="image left box-img">
                <img src="{{static_url}}/images/projetos/planejamento/Capa-PAN-Grao-Mogol.jpg"/>
            </a>
            <div class="inner">
                <h3>
                    <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/41" id="graomogol2" style="text-decoration: none;">
                        Plano de Ação Nacional para a conservação da flora ameaçada de extinção da região de Grão Mogol - Francisco Sá
                    </a>
                </h3>
                <p align="justify">O <i>Plano de Ação Nacional para a conservação da flora ameaçada
                    de extinção da região de Grão Mogol-Francisco Sá</i> contém uma
                série de ações elaboradas para mitigar as ameaças que incidem
                neste território do Norte de Minas Gerais. Lá ocorrem 74
                espécies da flora ameaçada. Este plano de ação apresenta
                informações sobre aspectos ambientais, socioeconômicos e
                histórico-culturais desse território, bem como informações
                complementares sobre cada espécie Criticamente em perigo e com
                Dados insuficientes, disponíveis no
                <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/41">Anexo</a>.
                </p>
            </div>
        </div>
      </section>
      <section class="col-sm-12 col-md-12 col-lg-12">
        <div class="box post">
            <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/40" class="image left box-img">
                <img src="{{static_url}}/images/projetos/planejamento/Guia-de-Campo.jpg"/>
            </a>
          <div class="inner">
              <h3>
                  <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/40">
                      Flora ameaçada do Cerrado Mineiro - Guia de Campo
                  </a>
              </h3>
              <p align="justify"> <i>Flora ameaçada do Cerrado mineiro - guia de campo </i>traz
              informações redigidas em uma linguagem acessível para um público
              amplo, não especialista em botânica, visando aumentar o conhecimento
              sobre 82 espécies (64 Criticamente em perigo de extinção e 18 com Dados
              insuficientes) do Cerrado de Minas Gerais. O Guia de campo também auxilia a
              implementação de ações de conservação recomendadas nos Planos de Ação
              Nacional - PANs.
              </p>
          </div>
        </div>
      </section>
      <section class="col-sm-12 col-md-12 col-lg-12">
        <div class="box post">
          <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/27" class="image left box-img"><img src="{{static_url}}/images/livro_vermelho_2014.jpg" alt="" /></a>
          <div class="inner">
            <h3><a href="http://dspace.jbrj.gov.br/jspui/handle/doc/27">Livro Vermelho da Flora do Brasil - Plantas Raras do Cerrado</a></h3>
            <p align="justify">Apesar da profusão dos conceitos de raridade e das diferentes definições, é consenso
              que espécies raras podem apresentar uma alta vulnerabilidade e, portanto, devem ser
              priorizadas em medidas de conservação. O Cerrado é atualmente considerado uma das
              áreas críticas para conservação e a perda de hábitat nesse bioma vem alcançando índices
              alarmantes.
              <br><br></p>
          </div>
        </div>
      </section>
      <section class="col-sm-12 col-md-12 col-lg-12">
        <div class="box post">
          <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/28" class="image left box-img"><img src="{{static_url}}/images/projetos/areas/capa_livro_areas_prioritarias.png" alt="" /></a>
          <div class="inner">
            <h3>
              <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/28">
                Áreas prioritárias para conservação e uso sustentável da flora brasileira ameçada de extinção

              </a>
            </h3>
            <p align="justify">O livro “Áreas Prioritárias para Conservação e Uso Sustentável da Flora Brasileira Ameaçada de Extinção” é um importante instrumento para elaboração de políticas públicas, pois indica as localidades no território nacional onde ações para reduzir o risco de extinção de espécies da flora brasileira podem ser mais efetivas, visando alcançar a Meta 11 do Plano Estratégico para a Conservação da Biodiversidade de Aichi (CDB) até 2020.</p>
          </div>
        </div>
      </section>

      <section class="col-sm-12 col-md-12 col-lg-12">
        <div class="box post">
          <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/29" class="image left box-img"><img src="{{static_url}}/images/projetos/planejamento/faveiro-de-wilson.jpg" alt="" /></a>
          <div class="inner">
            <h3>
              <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/29">PAN Faveiro de Wilson </a>
            </h3>
            <p align="justify">
            O Plano de Ação Nacional do faveiro-de-wilson (Dimorphandra wilsonii Rizzini), espécie Criticamente em perigo (CR) e endêmica de Minas Gerais, contém a melhor informação disponível sobre a espécie, além do planejamento com as ações necessárias para sua conservação.
            </p>
          </div>
        </div>
      </section>
    </div>

    </div>
</section>


<section class="wrapper style1 news" id='fb_news'>
  <div class="container">
    <h3 class="col-sm-12 col-md-12 col-lg-12 title">Notícias</h3>
    <div class="row" id='fb_news_row'>
      <h3>Carregando...</h3>
    </div>
  </div>
  <template id="noticia_tmpl">
  <section class="col-sm-12 col-md-4 col-lg-4">
    <div class="box post">
      <div class="box-fb-img">
        <a href="#" class="image "><img src="" alt="" /></a>
      </div>
      <div class="inner news-description">
        <h3></h3>
        <p></p>
      </div>
    </div>
  </section>
  </template>
</section>

<script type="text/javascript">
  $(function(){
      FB.api("/cncflora/posts?access_token="+app_token,function(response) {
        document.querySelector("#fb_news_row").innerHTML="";
        var count=0;
        for(var i=0;i<response.data.length && count < 3;i++) {
          var post = response.data[i];
          if(typeof post == 'object'
            && (post.type=='photo' || post.type == 'video')
            && typeof post.message == 'string'
            && post.message.length >= 5) {
            var section = render('#noticia_tmpl');
            section.querySelector("img").src = post.picture;
            section.querySelector("h3").textContent = "";
            section.querySelector("a").href = post.link;
            section.querySelector("p").textContent = post.message.slice(0,150)+"...";
            section.querySelector("section").setAttribute("id","fb_"+post.object_id);
            section.into('#fb_news_row');
            (function(post){
             FB.api("/"+post.object_id+"?access_token="+app_token,function(response){
               var src = response.source;
               if(post.type=='video') src = response.picture;
               document.querySelector("#fb_"+response.id+" img").src = src;
               });
             })(post);
            count++;
          }
        }
      });
  });
</script>

{% endblock %}
