<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Centro Nacional de Conservação da Flora - CNCFlora</title>
	<meta name="description" content="">
	<meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link rel="stylesheet" href="/static/css/base.css">
	  <link rel="stylesheet" href="/static/css/skeleton.css">
	  <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/cncflora.css" />
    <!--
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Questrial' />
    -->
	<link rel="shortcut icon" href="/static/img/favicon.ico">
    <script src="/static/js/head.min.js" type="text/javascript"></script>
    <script src="/static/js/cncflora.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
    <div class="container">
        <header class="sixteen columns">
            <!-- logged -->
                <p id='up'>
                    <a href="/sistema">plataforma</a>
                    <a href="http://cncflora.jbrj.gov.br/apps/profiles">ferramentas</a>
                    <a href="/../user/logout">sair</a>
                </p>

                <p id='up'>
                    <!--<a href="/login">login</a>-->
                    <a href="http://cncflora.jbrj.gov.br/apps/profiles">ferramentas</a>
                </p>
            <!-- logged -->
            <div id="greeting">
                <h1>Bem-vindo ao Portal CNCFlora</h1>
                <h2>Plataforma de acesso e gest&atilde;o de dados.</h2>
            </div>
            <a href='/'><h1>CNCFlora</h1></a>
            <h2>JBRJ</h2>
            <div id="floral"></div>
        </header>
        <nav class="sixteen columns">
            <ul>
                <li><a href="/pt-br/quem-somos" class='quem-somos-link'>Quem somos</a></li>
                <li><a href="/pt-br/redlisting" class='red lista-vermelha-link'>Lista vermelha</a></li>
                <li><a href="/pt-br/conservacao/acoes" class='conservacao-link'>Conserva&ccedil;&atilde;o da flora</a></li>
                <li><a href="/pt-br/expedicoes/intro" class='expedicoes-link'>Expedi&ccedil;&otilde;es</a></li>
                <li><a href="/pt-br/publicacoes/publicacao" class='publicacoes-link'>Documentos</a></li>
                <li><a href="/pt-br/legislacao" class='legislacao-link'>Legisla&ccedil;&atilde;o</a></li>
                <li><a href="/pt-br/noticias" class='noticias-link'>Noticias</a></li>
            </ul>
        </nav>
        <div id="content">
					{% block content %}{% endblock %}
				</div>
				<footer>
						<div class="eight columns logos">
								<p>
										<a alt="PROBIO" href="http://www.mma.gov.br/biodiversidade/projetos-sobre-a-biodiveridade/projeto-nacional-de-a%C3%A7%C3%B5es-integradas-p%C3%BAblico-privadas-para-biodiversidade-probio-ii" title="PROBIO"><img alt="PROBIO" id="probio" src="/static/img/PROBIO.jpg" title="PROBIO" /></a>
										<a alt="Ministério do Meio Ambiente" href="http://www.mma.gov.br/" title="Ministerio do Meio Ambiente"><img alt="Ministério do Meio Ambiente" id="mma" src="/static/img/MMA.png" title="Ministerio do Meio Ambiente" /></a>
										<a alt="International Union for Conservation of Nature" href="http://www.iucn.org/" title="International Union for Conservation of Nature"><img alt="International Union for Conservation of Nature" id="iucn" src="/static/img/IUCN.gif" title="International Union for Conservation of Nature" /></a>
								</p>
						</div>
						<div class="seven offset-by-one columns info">
								<p>
										Instituto de Pesquisas Jardim Botânico do Rio de Janeiro<br />
										Rua Pacheco Leão, 915 - Dipeq, sala 105<br />
										Jardim Botânico - Rio de Janeiro - RJ<br />
										CEP: 22.460-030<br />
										Tel: (21)3204-2138<br />
								</p>
						</div>
				</footer>
		</div>
		<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-13203805-2']);
				_gaq.push(['_trackPageview']);
				(function() {
						var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
						ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
		</script>
</body>
</html>
