<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>{{assessment["taxon"]["family"]}} {{assessment["taxon"]["scientificName"]}}</title>
<link rel="stylesheet" href="{{static_url}}/css/book.css">
</head>
<body>
<div id="header">
  <div class="container">
    <p><a href="{{base_url}}/pt-br/listavermelha">Lista vermelha</a></p>
  </div>
</div>
<article class="container">
  <section class='especie'>
    <div class="sixteen columns">
        <h3 class='specie'>
          <i>{{assessment["taxon"]["scientificName"]}}</i> {{assessment["taxon"]["scientificNameAuthorship"]}}
          <img src="{{static_url}}/images/{{assessment["category"]}}.jpg" alt="{{assessment["category"]}}" class="iucn" />
        </h3>
    </div>
    <div class="nine columns">
        <p class='date'><strong>Data: </strong> {{assessment["date"]}}</p>
        <p class='criteria'><strong>Criterio: </strong> {{assessment["criteria"]}}</p>
        <p class='assessor'><strong>Avaliador: </strong> {{assessment["assessor"]}}</p>
        <p class='evaluator'><strong>Revisor: </strong> {{assessment["evaluator"]}}</p>
        <p class='rationale'> {{assessment["rationale"]}}</p>
        <!--
        <br /><p class='especialistas'><strong>Especialistas Bot&acirc;nicos</strong>: ".implode($spp->Especialistas,", ").".</p>";
        <p class='especialistas'><strong>Analistas de Dados</strong>: ".implode($spp->Analistas,", ").".</p>";
        <p class='especialistas'><strong>Analistas SIG</strong>: ".implode($spp->AnalistasSIG,", ").".</p>";
        <?php include 'ficha.php' ?>
        -->
        {% if "taxonomicNotes" in profile %}
        <h4>Notas Taxon&ocirc;micas</h4>
        <p>{{profile["taxonomicNotes"]["notes"]}}</p>
        {% endif %}
        <!--
        <h4>Sin&ocirc;nimos</h4>
        <ul>
        {% for syn in synonyms %}
        <li>{{syn["scientificName"]}}</li>
        {% endfor %}
        </ul>
        -->
    </div>

    <div class="seven columns map">
      <h4>Mapa de distribui&ccedil;&atilde;o</h4>
      <img src="http://cncflora.jbrj.gov.br/mapas/{{assessment["taxon"]["scientificName"]}}" />
    </div>

    <div class="sixteen columns">
      {% if "economicValue" in profile %}
      <h4>Pot&ecirc;ncial valor econ&ocirc;mico</h4>
      <p>{{profile["economicValue"]["details"]}}</p>
      {% endif %}

      {% if "population" in profile %}
      <h4>Dados populacionais</h4>
      <p>{{profile["population"]["resume"]}}</p>
      {% endif %}

      {% if "distribution" in profile %}
      <h4>Distribuição</h4>
      <p>{{profile["distribution"]["resume"]}}</p>
      {% endif %}

      {% if "ecology" in profile %}
      <h4>Ecologia</h4>
      <p>{{profile["ecology"]["resume"]}}</p>
      {% endif %}

      {% if "reproduction" in profile %}
      <h4>Reprodução</h4>
      <p>{{profile["reproduction"]["resume"]}}</p>
      {% endif %}
    </div>
    <div class="sixteen columns">

      {% if "threats" in profile %}
      <h4>Amea&ccedil;as</h4>
      {% for threat in profile["threats"] %}
      <h5>{{threat["threat"]}}</h5>
      <table>
          <tr>
              <td>Stress</td>
              <td>{{threat["stress"]}}</td>
          </tr>
          <tr>
              <td>Incid&ecirc;ncia</td>
              <td>{{threat["incidence"]}}</td>
          </tr>
          <tr>
              <td>Severidade</td>
              <td>{{threat["severity"]}}</td>
          </tr>
          <tr>
              <td>Detalhes</td>
              <td>{{threat["details"]}}</td>
          </tr>
      </table>
      {% endfor %}
      {% endif %}

      {% if "actions" in profile %}
      <h4>A&ccedil;&otilde;es de conserva&ccedil;&atilde;o</h4>
      {% for action in profile["actions"] %}
      <h5>{{action["action"]}}</h5>
      <p><b>Situa&ccedil;&atilde;o</b>: {{action['situation']}} </p>
      <p><b>Observa&ccedil;&otilde;es</b>: {{action['details']}} </p>
      {% endfor %}
      {% endif %}


      {% if "uses" in profile %}
      <h4>Usos</h4>
      {% for use in profile["users"] %}
      <h5>{{use["use"]}}</h5>
      <p><b>Observa&ccedil;&otilde;es</b>: {{use["details"]}} </p>
      {% endfor %}
      {% endif %}
    </div>

    <div class="sixteen columns biblio">
      <h4>Bibliografia</h4>
      <ul class='biblios'>
      {% for ref in references %}
        <li>{{ref}}</li>
      {% endfor %}
      </ul>
    </div>
</section>
</article>
<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-13203805-2']);
		_gaq.push(['_trackPageview']);
		(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
</script>
</body>
</html>
