{% extends "layout.html" %}
{% block content %}
<div class="sixteen columns intro">
    <img src="/static/img/quemsomos.jpg" alt="Quem Somos - CNCFlora" />
</div>

<div class="five columns menu">
    <ul>
        <li><a href="/pt-br/quem-somos" class='quem-somos'>{{menu['whoweare']}}</a></li>
        <li><a href="/pt-br/equipe/coordenacao" class='equipe-link'>{{menu['equipe']}}</a></li>
        <li><a href="/pt-br/contato" class='contato-link'>{{menu['contact']}}</a></li>
    </ul>
</div>
{% include "content/"+language+"/quem-somos.html" %}
{% endblock %}
