{% extends "layout-content.html" %}
{% block content %}
<section class="wrapper style1 redlist-page">
  <div class="container">
    <div class="row">
      <div class="sidebar col-sm-12 col-md-3 col-lg-3">
        <h3>Listagem por família</h3>
        <div id="familly" class="sidebar-menu">
          <input class="search" placeholder="Buscar família" />
          <br/>
          <br/>
          <ul class="list">
            {% for familly in families%}
              <li><a href="{{base_url}}/{{language}}/listavermelha/{{familly}}" class="name">{{familly}}</a></li>
            {% endfor %}
          </ul>
       </div>
      </div>
      <div  class="description col-sm-12 col-md-9 col-lg-9">
         {% if family_description %}

            <div id="species" class="family">
              <h3>{{family}}</h3>
              <input class="search search-species" placeholder="Buscar espécie"/>
              <br/>
              <br/>
              <div class="list">
              {% for data_family in family_description %}
              <p>
              <a href="{{base_url}}/{{language}}/profile/{{data_family['taxon']['scientificName']}}" class="name" target="_blank">
                  {{data_family['taxon']['scientificName']}}
                </a>
                  <span class="category {{data_family['category']}}">{{data_family['category']}}</span>
                </p>
              {% endfor %}
              </div>
            </div>
         {% else %}
          {% include "content/"+language+"/listavermelha.html" %}
         {% endif %}
      </div>
    </div>
  </div>
</section>
<script src="{{static_url}}/js/list.js"></script>
<script>
var options = {
  valueNames: ['name']
};
var famillyList = new List('familly', options);

var optionsspecie = {
  valueNames: ['name']
};
var specieList = new List('species', optionsspecie);
</script>
{% endblock %}
