{{> header}}

<div class="sixteen columns intro">
</div>

<div class="eight columns">
    {{{intro}}}
    <h3>Ferramentas</h3>
    <ul>
        <li><a href="/plataforma">Consolida&ccedil;&atilde;o, an&aacute;lise e avalia&ccedil;&atilde;o </a></li>
        <li><a href="../plataforma2/book">Fichas de esp&eacute;cies</a></li>
        <!--
        <li><a href="../fichas/tree.html">Valida&ccedil;&atilde;o de dados</a></li>
        <li><a href="">Envie considera&ccedil;&otilde;es sobre as avalia&ccedil;&otilde;es de risco</a></li>
        <li><a href="../plataforma2/relatorios/all.php">Relat&oacute;rio geral de progresso</a></li>
        <li><a href="../plataforma2/relatorios/datacleaning/datacleaning2_input.php">Inclus&atilde;o de registros de ocorr&ecirc;ncias</a></li>
        <li><a href="../plataforma2/relatorios/controle_usuarios/cadastro_usuarios.php">Cadastro de usu&aacute;rios</a></li>
        <li><a href="../plataforma2/galeria/add.php" target="_blank">Colabore com imagens</a></li>
        -->
    </ul>
</div>

<div class="eight columns">
    <h3>Confira o progresso geral do projeto</h3>
    <iframe src="{{graph1}}" frameborder="0"></iframe>
    <iframe src="{{graph2}}" frameborder="0"></iframe>
</div>

<script type="text/javascript">
    head.js("/portal/resources/js/jquery.min.js")
        .ready(function(){
            $(".close").click();
        });
</script>

{{> footer}}
